print("Tip Calculator!")
print("The total bill is? $")
bill=int(input());
print("The percentage of tip that you wanna pay? 10,12 or 15")
tip=int(input());
print("Total number of people in the group?")
people=int(input());
total_tip=tip/100*bill+bill
total_bill=total_tip/people
print(f"The total bill you need to pay is ${total_bill}")

